#  Read EG real estate tax rolls and extract the data

In [304]:
import re
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#  Read EG FY2018 Real Estate Tax Roll - assessed 12/31/2016

In [305]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2016.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2018'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')==3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        taxbill = line[121:133].replace(',', '').strip()
        dd['FYear'].append(fyear)
        dd['taxbill'].append(pd.to_numeric(taxbill))
        dd['parcel'].append(parcel)     
        dd['sc'].append(sc)
        dd['scd'].append(scd)
        dd['address'].append(address)
        dd['valuation'].append(pd.to_numeric(valuation))
        dd['exemption'].append(pd.to_numeric(exemption))
        dd['tax'].append(pd.to_numeric(tax))

taxroll_FY2018 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2018.shape)

print(len(taxroll_FY2018['parcel'].unique()))

taxroll_FY2018.head()

(5243, 9)
5243

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2018,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7623.25,7623.25,322200.0
1,2018,125 HOWLAND ROAD,0.0,073-010-077-0000,01,ONE FAMI,11245.60,11245.60,475300.0
2,2018,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,10064.96,10064.96,425400.0
3,2018,145 SOUTH PIERCE,0.0,054-007-187-0000,01,ONE FAMI,5574.30,5574.30,235600.0
4,2018,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8531.06,8531.06,360569.0

In [307]:
taxroll_FY2018.groupby(taxroll_FY2018['FYear']).sum()  # should be 52,205,653.13

       exemption          tax      taxbill     valuation
FYear
2018   1778383.0  52697203.46  52205653.13  2.228809e+09

In [308]:
FY2018= taxroll_FY2018.rename(columns={'address': 'adress_2018', 'exemption': 'exemption_2018', \
            'sc': 'sc_2018', 'scd': 'scd_2018', 'taxbill': 'taxbill_2018', 'valuation': 'valuation_2018', \
            'FYear': 'FY2018','tax': 'tax_2018'})
print(FY2018.shape)
FY2018.head()

(5243, 9)

,FY2018,adress_2018,exemption_2018,parcel,sc_2018,scd_2018,tax_2018,taxbill_2018,valuation_2018
0,2018,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7623.25,7623.25,322200.0
1,2018,125 HOWLAND ROAD,0.0,073-010-077-0000,01,ONE FAMI,11245.60,11245.60,475300.0
2,2018,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,10064.96,10064.96,425400.0
3,2018,145 SOUTH PIERCE,0.0,054-007-187-0000,01,ONE FAMI,5574.30,5574.30,235600.0
4,2018,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8531.06,8531.06,360569.0

#  Read EG FY2017 Real Estate Tax Roll  - assessed 12/31/2015

In [309]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2015.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2017'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')==3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        taxbill = line[121:133].replace(',', '').strip()
        dd['FYear'].append(fyear)
        dd['taxbill'].append(pd.to_numeric(taxbill))
        dd['parcel'].append(parcel)     
        dd['sc'].append(sc)
        dd['scd'].append(scd)
        dd['address'].append(address)
        dd['valuation'].append(pd.to_numeric(valuation))
        dd['exemption'].append(pd.to_numeric(exemption))
        dd['tax'].append(pd.to_numeric(tax))

taxroll_FY2017 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2017.shape)

print(len(taxroll_FY2017['parcel'].unique()))

taxroll_FY2017.head()

(5231, 9)
5231

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2017,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7761.80,7761.80,322200
1,2017,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,10247.89,10247.89,425400
2,2017,145 SOUTH PIERCE,0.0,054-007-187-0000,01,ONE FAMI,5675.60,5675.60,235600
3,2017,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8686.11,8686.11,360569
4,2017,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1821.20,1821.20,75600

In [310]:
taxroll_FY2017.groupby(taxroll_FY2017['FYear']).sum()  #should be 52,862,815.74

       exemption          tax      taxbill   valuation
FYear
2017   1659470.0  53414619.05  52862815.74  2219374418

In [311]:
FY2017= taxroll_FY2017.rename(columns={'address': 'adress_2017', 'exemption': 'exemption_2017', \
            'sc': 'sc_2017', 'scd': 'scd_2017', 'taxbill': 'taxbill_2017', 'valuation': 'valuation_2017', \
            'FYear': 'FY2017','tax': 'tax_2017'})
print(FY2017.shape)
FY2017.head()

(5231, 9)

,FY2017,adress_2017,exemption_2017,parcel,sc_2017,scd_2017,tax_2017,taxbill_2017,valuation_2017
0,2017,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7761.80,7761.80,322200
1,2017,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,10247.89,10247.89,425400
2,2017,145 SOUTH PIERCE,0.0,054-007-187-0000,01,ONE FAMI,5675.60,5675.60,235600
3,2017,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8686.11,8686.11,360569
4,2017,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1821.20,1821.20,75600

#  Read EG FY2016 Real Estate Tax Roll  - assessed 12/31/2014

In [312]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2014.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2016'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')==3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))

taxroll_FY2016 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2016.shape)

print(len(taxroll_FY2016['parcel'].unique()))

taxroll_FY2016.head()

(5222, 9)
5222

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2016,1855 DIVISION ROAD,0.0,079-012-101-0000,01,ONE FAMI,7629.70,7629.70,322200
1,2016,125 TAMARACK DRIVE,0.0,044-011-418-0000,01,ONE FAMI,10073.47,10073.47,425400
2,2016,145 SOUTH PIERCE ROAD,0.0,054-007-187-0000,01,ONE FAMI,5579.01,5579.01,235600
3,2016,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8538.27,8538.27,360569
4,2016,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1790.21,1790.21,75600

In [313]:
taxroll_FY2016.groupby(taxroll_FY2016['FYear']).sum() #should be 51,480,402.21

       exemption          tax      taxbill   valuation
FYear
2016   4654005.0  51913969.95  51480402.21  2277047468

In [314]:
FY2016= taxroll_FY2016.rename(columns={'address': 'adress_2016', 'exemption': 'exemption_2016', \
            'sc': 'sc_2016', 'scd': 'scd_2016', 'taxbill': 'taxbill_2016', 'valuation': 'valuation_2016', \
            'FYear': 'FY2016','tax': 'tax_2016'})
print(FY2016.shape)
FY2016.head()

(5222, 9)

,FY2016,adress_2016,exemption_2016,parcel,sc_2016,scd_2016,tax_2016,taxbill_2016,valuation_2016
0,2016,1855 DIVISION ROAD,0.0,079-012-101-0000,01,ONE FAMI,7629.70,7629.70,322200
1,2016,125 TAMARACK DRIVE,0.0,044-011-418-0000,01,ONE FAMI,10073.47,10073.47,425400
2,2016,145 SOUTH PIERCE ROAD,0.0,054-007-187-0000,01,ONE FAMI,5579.01,5579.01,235600
3,2016,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8538.27,8538.27,360569
4,2016,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1790.21,1790.21,75600

#  Read EG FY2015 Real Estate Tax Roll  - assessed 12/31/2013

In [315]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2013.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2015'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')==3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))

taxroll_FY2015 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2015.shape)

print(len(taxroll_FY2015['parcel'].unique()))

taxroll_FY2015.head()

(5076, 9)
5076

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2015,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7473.44,7473.44,321300
1,2015,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,9611.03,9611.03,413200
2,2015,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7606.02,7606.02,327000
3,2015,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1581.68,1581.68,68000
4,2015,50 HARWOOD ROAD,0.0,084-009-039-0000,13,VACANT R,3365.72,3365.72,144700

In [316]:
taxroll_FY2015.groupby(taxroll_FY2015['FYear']).sum()  #should be 49,608,603.24

        exemption          tax      taxbill   valuation
FYear
2015   52188434.0  48545877.08  49608603.24  2110711680

In [317]:
FY2015= taxroll_FY2015.rename(columns={'address': 'adress_2015', 'exemption': 'exemption_2015', \
            'sc': 'sc_2015', 'scd': 'scd_2015', 'taxbill': 'taxbill_2015', 'valuation': 'valuation_2015', \
            'FYear': 'FY2015','tax': 'tax_2015'})
print(FY2015.shape)
FY2015.head()

(5076, 9)

,FY2015,adress_2015,exemption_2015,parcel,sc_2015,scd_2015,tax_2015,taxbill_2015,valuation_2015
0,2015,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7473.44,7473.44,321300
1,2015,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,9611.03,9611.03,413200
2,2015,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7606.02,7606.02,327000
3,2015,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1581.68,1581.68,68000
4,2015,50 HARWOOD ROAD,0.0,084-009-039-0000,13,VACANT R,3365.72,3365.72,144700

#  Read EG FY2014 Real Estate Tax Roll  - assessed 12/31/2012

In [318]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2012.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2014'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')==3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))

taxroll_FY2014 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2014.shape)

print(len(taxroll_FY2014['parcel'].unique()))

taxroll_FY2014.head()

(5218, 9)
5218

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2014,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7357.77,7357.77,321300
1,2014,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,9462.28,9462.28,413200
2,2014,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7488.30,7488.30,327000
3,2014,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,18285.65,18285.65,798500
4,2014,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,99866.90,99866.90,4361000

In [319]:
taxroll_FY2014.groupby(taxroll_FY2014['FYear']).sum()  #should be 48,251,112.33

        exemption          tax      taxbill   valuation
FYear
2014   55829630.0  47229445.02  48251112.33  2216362580

In [320]:
FY2014= taxroll_FY2014.rename(columns={'address': 'adress_2014', 'exemption': 'exemption_2014', \
            'sc': 'sc_2014', 'scd': 'scd_2014', 'taxbill': 'taxbill_2014', 'valuation': 'valuation_2014', \
            'FYear': 'FY2014','tax': 'tax_2014'})
print(FY2014.shape)
FY2014.head()

(5218, 9)

,FY2014,adress_2014,exemption_2014,parcel,sc_2014,scd_2014,tax_2014,taxbill_2014,valuation_2014
0,2014,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7357.77,7357.77,321300
1,2014,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,9462.28,9462.28,413200
2,2014,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7488.30,7488.30,327000
3,2014,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,18285.65,18285.65,798500
4,2014,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,99866.90,99866.90,4361000

#  Read EG FY2013 Real Estate Tax Roll  - assessed 12/31/2011

In [321]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2011.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2013'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))

taxroll_FY2013 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2013.shape)

print(len(taxroll_FY2013['parcel'].unique()))

taxroll_FY2013.head()

(5216, 9)
5216

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2013,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6470.98,7145.71,321300
1,2013,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,8321.85,9189.57,413200
2,2013,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,6585.78,7272.48,327000
3,2013,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,16222.77,17914.32,805500
4,2013,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,77498.72,85579.52,3848000

In [322]:
taxroll_FY2013.groupby(taxroll_FY2013['FYear']).sum()  #should be 46,347,563.02

        exemption          tax      taxbill   valuation
FYear
2013   57042636.0  41201457.35  46347563.02  2201498343

In [323]:
FY2013= taxroll_FY2013.rename(columns={'address': 'adress_2013', 'exemption': 'exemption_2013', \
            'sc': 'sc_2013', 'scd': 'scd_2013', 'taxbill': 'taxbill_2013', 'valuation': 'valuation_2013', \
            'FYear': 'FY2013','tax': 'tax_2013'})
print(FY2013.shape)
FY2013.head()

(5216, 9)

,FY2013,adress_2013,exemption_2013,parcel,sc_2013,scd_2013,tax_2013,taxbill_2013,valuation_2013
0,2013,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6470.98,7145.71,321300
1,2013,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,8321.85,9189.57,413200
2,2013,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,6585.78,7272.48,327000
3,2013,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,16222.77,17914.32,805500
4,2013,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,77498.72,85579.52,3848000

#  Read EG FY2012 Real Estate Tax Roll  - assessed 12/31/2010

In [324]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2010.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2012'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            tax = ''

taxroll_FY2012 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2012.shape)

print(len(taxroll_FY2012['parcel'].unique()))

taxroll_FY2012.head()

(5061, 9)
5061

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2012,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6362.86,7010.42,363800
1,2012,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,7992.93,8806.39,457000
2,2012,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8103.12,8927.79,463300
3,2012,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,14130.17,15568.23,807900
4,2012,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,79635.47,87740.17,4553200

In [325]:
taxroll_FY2012.groupby(taxroll_FY2012['FYear']).sum() #should be 45,171,191.58

        exemption          tax      taxbill   valuation
FYear
2012   64379372.0  40161089.66  45171191.58  2319912600

In [326]:
FY2012 = taxroll_FY2012.rename(columns={'address': 'adress_2012', 'exemption': 'exemption_2012', \
            'sc': 'sc_2012', 'scd': 'scd_2012', 'taxbill': 'taxbill_2012', 'valuation': 'valuation_2012', \
            'FYear': 'FY2012','tax': 'tax_2012'})
print(FY2012.shape)
FY2012.head()

(5061, 9)

,FY2012,adress_2012,exemption_2012,parcel,sc_2012,scd_2012,tax_2012,taxbill_2012,valuation_2012
0,2012,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6362.86,7010.42,363800
1,2012,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,7992.93,8806.39,457000
2,2012,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8103.12,8927.79,463300
3,2012,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,14130.17,15568.23,807900
4,2012,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,79635.47,87740.17,4553200

#  Read EG FY2011 Real Estate Tax Roll  - assessed 12/31/2009

In [327]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2009.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2011'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            tax = ''

taxroll_FY2011 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2011.shape)

print(len(taxroll_FY2011['parcel'].unique()))

taxroll_FY2011.head()

(5052, 9)
5052

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2011,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6275.55,6908.56,363800
1,2011,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,7883.25,8678.43,457000
2,2011,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7991.93,8798.07,463300
3,2011,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,13936.28,15342.03,807900
4,2011,1672 SOUTH COUNTY TR,0.0,061-010-027-0000,14,V C/I,0.00,94207.50,636100

In [328]:
taxroll_FY2011.groupby(taxroll_FY2011['FYear']).sum() #should be 44,295,783.76

        exemption          tax      taxbill   valuation
FYear
2011   62915561.0  39298647.36  44295783.76  2300246600

In [329]:
FY2011 = taxroll_FY2011.rename(columns={'address': 'adress_2011', 'exemption': 'exemption_2011', \
            'sc': 'sc_2011', 'scd': 'scd_2011', 'taxbill': 'taxbill_2011', 'valuation': 'valuation_2011', \
            'FYear': 'FY2011','tax': 'tax_2011'})
print(FY2011.shape)
FY2011.head()

(5052, 9)

,FY2011,adress_2011,exemption_2011,parcel,sc_2011,scd_2011,tax_2011,taxbill_2011,valuation_2011
0,2011,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6275.55,6908.56,363800
1,2011,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,7883.25,8678.43,457000
2,2011,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7991.93,8798.07,463300
3,2011,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,13936.28,15342.03,807900
4,2011,1672 SOUTH COUNTY TR,0.0,061-010-027-0000,14,V C/I,0.00,94207.50,636100

#  Read EG FY2010 Real Estate Tax Roll

In [330]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2008.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2010'

for line in text[0:nprint]:
    if (line.find('  RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            tax = ''

taxroll_FY2010 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2010.shape)

print(len(taxroll_FY2010['parcel'].unique()))

taxroll_FY2010.head()

(5067, 9)
5067

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2010,TILLINGHAST ROAD,0.0,027-015-013-0000,13,VACANT R,3805.57,4198.93,228700
1,2010,1454 SOUTH COUNTY,0.0,071-010-010-0000,04,COMBINAT,12754.56,14072.94,766500
2,2010,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,14,V C/I,9734.40,10740.60,585000
3,2010,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6053.63,6679.37,363800
4,2010,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,0.00,8506.19,303300

In [331]:
taxroll_FY2010.groupby(taxroll_FY2010['FYear']).sum() #should be 42,681,696.51

        exemption          tax      taxbill   valuation
FYear
2010   64627478.0  37915201.78  42681696.51  2303279000

In [332]:
FY2010 = taxroll_FY2010.rename(columns={'address': 'adress_2010', 'exemption': 'exemption_2010', \
            'sc': 'sc_2010', 'scd': 'scd_2010', 'taxbill': 'taxbill_2010', 'valuation': 'valuation_2010', \
            'FYear': 'FY2010','tax': 'tax_2010'})
print(FY2010.shape)
FY2010.head()

(5067, 9)

,FY2010,adress_2010,exemption_2010,parcel,sc_2010,scd_2010,tax_2010,taxbill_2010,valuation_2010
0,2010,TILLINGHAST ROAD,0.0,027-015-013-0000,13,VACANT R,3805.57,4198.93,228700
1,2010,1454 SOUTH COUNTY,0.0,071-010-010-0000,04,COMBINAT,12754.56,14072.94,766500
2,2010,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,14,V C/I,9734.40,10740.60,585000
3,2010,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6053.63,6679.37,363800
4,2010,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,0.00,8506.19,303300

#  Read EG FY2009 Real Estate Tax Roll - assessed 12/31/2007

In [333]:
dd = {}
dd['FYear']     = []
dd['parcel']    = []
dd['sc']        = []
dd['valuation'] = []
dd['tax']       = []

ddfire = {}
ddfire['parcel'] = []
ddfire['fire'] = []

ddex = {}
ddex['parcel'] = []
ddex['exemption'] = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2007.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2009'

for line in text[0:nprint]:
    words = line.split()
    nwords = len(words)

    if (line.find('2008/')>0):
        for word in words:
            if ((word.count('-')==2) & (len(word)==11)):
                parcel=word
                tail = line.find(word)+11
                sc = line[tail:tail+3]
                valuation = words[len(words)-2]
                tax = words[len(words)-1]
                dd['FYear'].append(fyear)
                dd['parcel'].append(parcel)       
                dd['sc'].append(sc)
                dd['valuation'].append(pd.to_numeric(valuation))
                dd['tax'].append(pd.to_numeric(tax))
                
    if (line.find('XEMPTIONS') > 0):
        exemption = words[len(words)-1].replace('-', '').strip()
        ddex['parcel'].append(parcel)
        ddex['exemption'].append(pd.to_numeric(exemption))
        
    if (line.find('BETTERMENT') >= 0):
        fire = words[len(words)-1]
        ddfire['parcel'].append(parcel)
        ddfire['fire'].append(pd.to_numeric(valuation))
    if (line.find('TOTALS **') > 0):
        parcel=''
        fire=''
        exemption='' 
        
taxroll_FY2009 = pd.DataFrame.from_dict(dd)
print(taxroll_FY2009.shape)
exemption_FY2009 = pd.DataFrame.from_dict(ddex)
print(exemption_FY2009.shape)
fire_FY2009 = pd.DataFrame.from_dict(ddfire)
print(fire_FY2009.shape)
print(len(taxroll_FY2009['parcel'].unique()))
taxroll_FY2009.head()

(5052, 5)
(1641, 2)
(5000, 2)
5052

  FYear       parcel   sc       tax  valuation
0  2009  010-010-000   04  10890.18     777870
1  2009  010-021-000   14   8373.40     598100
2  2009  019-006-000   33   7075.18     505370
3  2009  012-002-000   01   4714.78     336770
4  2009  010-027-000   14  11277.00     805500

In [334]:
taxroll_FY2009.groupby(taxroll_FY2009['FYear']).sum()  #should be 39,667,363.46

               tax   valuation
FYear
2009   37212024.86  2678666130

In [ ]:
FY2009 = taxroll_FY2009.rename(columns={'address': 'adress_2009', 'exemption': 'exemption_2009', \
            'sc': 'sc_2009', 'scd': 'scd_2009', 'taxbill': 'taxbill_2009', 'valuation': 'valuation_2009', \
            'FYear': 'FY2009','tax': 'tax_2009'})
print(FY2009.shape)
FY2009.head()

#  Read EG FY2008 Real Estate Tax Roll - assessed 12/31/2006

In [335]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2006.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2008'

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            tax = ''

taxroll_FY2008 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2008.shape)

print(len(taxroll_FY2008['parcel'].unique()))

taxroll_FY2008.head()

(4987, 9)
4982

,FYear,address,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2008,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,8098.27,8971.50,598100
1,2008,1454 SOUTH COUNTY,0.0,071-010-010-0000,00,COMBINAT,10532.36,11668.05,777870
2,2008,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,7184.05,7958.70,530580
3,2008,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,6842.71,7580.55,505370
4,2008,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,4559.87,5051.55,336770

In [336]:
np = taxroll_FY2008.groupby(taxroll_FY2008['parcel']).count()
np
#D00-312-100-C000 and D00-312-100-R000 appear 4 and 3 times, respectively, with no tax paid

                  FYear  address  exemption  sc  scd  tax  taxbill  valuation
parcel
000-999-099-0000      1        1          1   1    1    1        1          1
000-999-100-0000      1        1          1   1    1    1        1          1
001-019-013-0000      1        1          1   1    1    1        1          1
001-019-296-0000      1        1          1   1    1    1        1          1
001-019-335-0000      1        1          1   1    1    1        1          1
001-019-336-0000      1        1          1   1    1    1        1          1
001-019-337-0000      1        1          1   1    1    1        1          1
001-019-338-0000      1        1          1   1    1    1        1          1
001-019-339-0000      1        1          1   1    1    1        1          1
001-019-340-0000      1        1          1   1    1    1        1          1
002-019-049-0000      1        1          1   1    1    1        1          1
002-019-051-0000      1        1          1   1    1    1        1          1
002-019-111-0000      1        1          1   1    1    1        1          1
002-019-112-0000      1        1          1   1    1    1        1          1
002-019-121-0000      1        1          1   1    1    1        1          1
002-019-153-0000      1        1          1   1    1    1        1          1
002-019-162-0000      1        1          1   1    1    1        1          1
002-019-213-0000      1        1          1   1    1    1        1          1
002-019-215-0000      1        1          1   1    1    1        1          1
002-019-285-0000      1        1          1   1    1    1        1          1
002-019-347-0000      1        1          1   1    1    1        1          1
003-019-025-0000      1        1          1   1    1    1        1          1
003-019-044-0000      1        1          1   1    1    1        1          1
003-019-054-0000      1        1          1   1    1    1        1          1
003-019-113-0000      1        1          1   1    1    1        1          1
003-019-116-0000      1        1          1   1    1    1        1          1
003-019-118-0000      1        1          1   1    1    1        1          1
003-019-120-0000      1        1          1   1    1    1        1          1
003-019-141-0000      1        1          1   1    1    1        1          1
003-019-143-0000      1        1          1   1    1    1        1          1
...                 ...      ...        ...  ..  ...  ...      ...        ...
085-002-115-0000      1        1          1   1    1    1        1          1
085-002-120-0000      1        1          1   1    1    1        1          1
085-002-122-0000      1        1          1   1    1    1        1          1
085-002-124-0000      1        1          1   1    1    1        1          1
085-002-125-0000      1        1          1   1    1    1        1          1
085-002-126-0000      1        1          1   1    1    1        1          1
085-002-127-0000      1        1          1   1    1    1        1          1
085-002-128-0000      1        1          1   1    1    1        1          1
085-002-154-0000      1        1          1   1    1    1        1          1
085-002-170-0000      1        1          1   1    1    1        1          1
085-002-171-0000      1        1          1   1    1    1        1          1
085-002-172-0000      1        1          1   1    1    1        1          1
085-002-173-0000      1        1          1   1    1    1        1          1
085-002-174-0000      1        1          1   1    1    1        1          1
085-002-175-0000      1        1          1   1    1    1        1          1
085-002-176-0000      1        1          1   1    1    1        1          1
085-002-177-0000      1        1          1   1    1    1        1          1
085-002-197-0000      1        1          1   1    1    1        1          1
085-002-198-0000      1        1          1   1    1    1        1          1
085-002-199-0000      1        1          1   1    1    1        1          1
085-002-200-0000      1        1          1   1    1    1        1          1
085-002-201-0000      1        1          1   1    1    1        1          1
085-002-202-0000      1        1          1   1    1    1        1          1
085-002-203-0000      1        1          1   1    1    1        1          1
085-002-204-0000      1        1          1   1    1    1        1          1
085-002-241-0000      1        1          1   1    1    1        1          1
085-002-249-0000      1        1          1   1    1    1        1          1
085-003-261-0000      1        1          1   1    1    1        1          1
D00-312-100-C000      4        4          4   4    4    4        4          4
D00-312-100-R000      3        3          3   3    3    3        3          3

[4982 rows x 8 columns]

In [337]:
taxroll_FY2008.groupby(taxroll_FY2008['FYear']).sum() #should be 38,575,355.70

        exemption          tax     taxbill   valuation
FYear
2008   58746668.0  34550815.73  38575355.7  2557772840

In [338]:
FY2008 = taxroll_FY2008.rename(columns={'address': 'adress_2008', 'exemption': 'exemption_2008', \
            'sc': 'sc_2008', 'scd': 'scd_2008', 'taxbill': 'taxbill_2008', 'valuation': 'valuation_2008', \
            'FYear': 'FY2008','tax': 'tax_2008'})
print(FY2008.shape)
FY2008.head()

(4987, 9)

,FY2008,adress_2008,exemption_2008,parcel,sc_2008,scd_2008,tax_2008,taxbill_2008,valuation_2008
0,2008,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,8098.27,8971.50,598100
1,2008,1454 SOUTH COUNTY,0.0,071-010-010-0000,00,COMBINAT,10532.36,11668.05,777870
2,2008,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,7184.05,7958.70,530580
3,2008,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,6842.71,7580.55,505370
4,2008,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,4559.87,5051.55,336770

#  Read EG FY2007 Real Estate Tax Roll - assessed 12/31/2005

In [384]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2005.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear   = '2007'
fd_rate = 1.41

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(valuation)/1000.0)
            tax = ''

taxroll_FY2007 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2007.shape)

print(len(taxroll_FY2007['parcel'].unique()))

taxroll_FY2007.head()

(4969, 10)
4969

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2007,1454 SOUTH COUNTY,1096.7967,0.0,071-010-010-0000,00,COMBINAT,10003.41,10003.41,777870
1,2007,1434 SOUTH COUNTY TR,843.3210,0.0,071-010-021-0000,00,V C/I,7691.57,7691.57,598100
2,2007,125 TAMARACK DRIV,748.1178,0.0,044-011-418-0000,00,ONE FAMI,6823.26,6823.26,530580
3,2007,145 SHIPPEE ROAD,712.5717,0.0,013-019-006-0000,00,FFOP,6499.06,6499.06,505370
4,2007,1635 DIVISION ROA,474.8457,0.0,080-012-002-0000,00,ONE FAMI,4330.86,4330.86,336770

In [385]:
taxroll_FY2007.groupby(taxroll_FY2007['FYear']).sum() #should be 32,440,843.44

             est_fd   exemption          tax      taxbill   valuation
FYear
2007   3.557273e+06  55628683.0  32187533.82  32440843.44  2522888610

In [341]:
FY2007 = taxroll_FY2007.rename(columns={'address': 'adress_2007', 'exemption': 'exemption_2007', \
            'sc': 'sc_2007', 'scd': 'scd_2007', 'taxbill': 'taxbill_2007', 'valuation': 'valuation_2007', \
            'FYear': 'FY2007','tax': 'tax_2007'})
print(FY2007.shape)
FY2007.head()

(4969, 9)

,FY2007,adress_2007,exemption_2007,parcel,sc_2007,scd_2007,tax_2007,taxbill_2007,valuation_2007
0,2007,1454 SOUTH COUNTY,0.0,071-010-010-0000,00,COMBINAT,10003.41,10003.41,777870
1,2007,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,7691.57,7691.57,598100
2,2007,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,6823.26,6823.26,530580
3,2007,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,6499.06,6499.06,505370
4,2007,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,4330.86,4330.86,336770

#  Read EG FY2006 Real Estate Tax Roll - assessed 12/31/2004

In [390]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2004.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear   = '2006'
fd_rate = 1.95
taxrate = 18.33

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(taxbill)/taxrate)
            tax = ''

taxroll_FY2006 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2006.shape)

print(len(taxroll_FY2006['parcel'].unique()))

taxroll_FY2006.head()

(4909, 10)
4909

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2006,1434 SOUTH COUNTY TR,572.909574,0.0,071-010-021-0000,00,V C/I,5385.35,5385.35,293800
1,2006,1454 SOUTH COUNTY,570.764894,0.0,071-010-010-0000,00,COMBINAT,5365.19,5365.19,292700
2,2006,125 TAMARACK DRIV,721.480851,0.0,044-011-418-0000,00,ONE FAMI,6781.92,6781.92,369990
3,2006,145 SHIPPEE ROAD,616.960638,0.0,013-019-006-0000,00,FFOP,5799.43,5799.43,316390
4,2006,1635 DIVISION ROA,382.317021,0.0,080-012-002-0000,00,ONE FAMI,3593.78,3593.78,196060

In [392]:
taxroll_FY2006.groupby(taxroll_FY2006['FYear']).sum() #should be 31,506,134.02

             est_fd   exemption          tax      taxbill   valuation
FYear
2006   3.351716e+06  37821212.0  31301885.16  31506134.02  1728537675

In [406]:
FY2006 = taxroll_FY2006.rename(columns={'address': 'adress_2006', 'exemption': 'exemption_2006', \
            'sc': 'sc_2006', 'scd': 'scd_2006', 'taxbill': 'taxbill_2006', 'valuation': 'valuation_2006', \
            'FYear': 'FY2006','tax': 'tax_2006','est_fd': 'est_fd_2006'})
print(FY2006.shape)
FY2006.head()

(4909, 10)

,FY2006,adress_2006,est_fd_2006,exemption_2006,parcel,sc_2006,scd_2006,tax_2006,taxbill_2006,valuation_2006
0,2006,1434 SOUTH COUNTY TR,572.909574,0.0,071-010-021-0000,00,V C/I,5385.35,5385.35,293800
1,2006,1454 SOUTH COUNTY,570.764894,0.0,071-010-010-0000,00,COMBINAT,5365.19,5365.19,292700
2,2006,125 TAMARACK DRIV,721.480851,0.0,044-011-418-0000,00,ONE FAMI,6781.92,6781.92,369990
3,2006,145 SHIPPEE ROAD,616.960638,0.0,013-019-006-0000,00,FFOP,5799.43,5799.43,316390
4,2006,1635 DIVISION ROA,382.317021,0.0,080-012-002-0000,00,ONE FAMI,3593.78,3593.78,196060

#  Read EG FY2005 Real Estate Tax Roll - assessed 12/31/2003

In [393]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2003.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2005'
fd_rate = 1.68
taxrate = 17.91

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(taxbill)/taxrate)
            tax = ''

taxroll_FY2005 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2005.shape)

print(len(taxroll_FY2005['parcel'].unique()))

taxroll_FY2005.head()

(4864, 10)
4864

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2005,1454 SOUTH COUNTY,491.736281,0.0,071-010-010-0000,00,COMBINAT,5242.26,5242.26,292700
1,2005,1434 SOUTH COUNTY TR,493.584188,0.0,071-010-021-0000,00,V C/I,5261.96,5261.96,293800
2,2005,125 TAMARACK DRIV,621.583116,0.0,044-011-418-0000,00,ONE FAMI,6626.52,6626.52,369990
3,2005,145 SHIPPEE ROAD,531.534740,0.0,013-019-006-0000,00,FFOP,5666.54,5666.54,316390
4,2005,1635 DIVISION ROA,329.380369,0.0,080-012-002-0000,00,ONE FAMI,3511.43,3511.43,196060

In [394]:
taxroll_FY2005.groupby(taxroll_FY2005['FYear']).sum()  #should be 29,908,445.80

             est_fd   exemption         tax     taxbill   valuation
FYear
2005   2.805482e+06  39059728.0  29714036.1  29908445.8  1687436955

In [407]:
FY2005 = taxroll_FY2005.rename(columns={'address': 'adress_2005', 'exemption': 'exemption_2005', \
            'sc': 'sc_2005', 'scd': 'scd_2005', 'taxbill': 'taxbill_2005', 'valuation': 'valuation_2005', \
            'FYear': 'FY2005','tax': 'tax_2005','est_fd': 'est_fd_2005'})
print(FY2005.shape)
FY2005.head()

(4864, 10)

,FY2005,adress_2005,est_fd_2005,exemption_2005,parcel,sc_2005,scd_2005,tax_2005,taxbill_2005,valuation_2005
0,2005,1454 SOUTH COUNTY,491.736281,0.0,071-010-010-0000,00,COMBINAT,5242.26,5242.26,292700
1,2005,1434 SOUTH COUNTY TR,493.584188,0.0,071-010-021-0000,00,V C/I,5261.96,5261.96,293800
2,2005,125 TAMARACK DRIV,621.583116,0.0,044-011-418-0000,00,ONE FAMI,6626.52,6626.52,369990
3,2005,145 SHIPPEE ROAD,531.534740,0.0,013-019-006-0000,00,FFOP,5666.54,5666.54,316390
4,2005,1635 DIVISION ROA,329.380369,0.0,080-012-002-0000,00,ONE FAMI,3511.43,3511.43,196060

#  Read EG FY2004 Real Estate Tax Roll - assessed 12/31/2002

In [395]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2002.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2004'
fd_rate = 1.54
taxrate = 17.14

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(taxbill)/taxrate)
            tax = ''

taxroll_FY2004 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2004.shape)

print(len(taxroll_FY2004['parcel'].unique()))

taxroll_FY2004.head()

(4812, 10)
4812

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2004,1454 SOUTH COUNTY,331.792730,77250.0,071-010-010-0000,00,COMBINAT,3692.81,3692.81,292700
1,2004,1434 SOUTH COUNTY TR,452.451820,0.0,071-010-021-0000,00,V C/I,5035.73,5035.73,293800
2,2004,125 TAMARACK DRIV,569.784726,0.0,044-011-418-0000,00,ONE FAMI,6341.63,6341.63,369990
3,2004,145 SHIPPEE ROAD,487.240187,0.0,013-019-006-0000,00,FFOP,5422.92,5422.92,316390
4,2004,1635 DIVISION ROA,301.932544,0.0,080-012-002-0000,00,ONE FAMI,3360.47,3360.47,196060

In [396]:
taxroll_FY2004.groupby(taxroll_FY2004['FYear']).sum() #should be 28,156,848.02

             est_fd   exemption          tax      taxbill   valuation
FYear
2004   2.529443e+06  39560817.0  27964159.66  28152371.05  1656345345

In [408]:
FY2004 = taxroll_FY2004.rename(columns={'address': 'adress_2004', 'exemption': 'exemption_2004', \
            'sc': 'sc_2004', 'scd': 'scd_2004', 'taxbill': 'taxbill_2004', 'valuation': 'valuation_2004', \
            'FYear': 'FY2004','tax': 'tax_2004','est_fd': 'est_fd_2004'})
print(FY2004.shape)
FY2004.head()

(4812, 10)

,FY2004,adress_2004,est_fd_2004,exemption_2004,parcel,sc_2004,scd_2004,tax_2004,taxbill_2004,valuation_2004
0,2004,1454 SOUTH COUNTY,331.792730,77250.0,071-010-010-0000,00,COMBINAT,3692.81,3692.81,292700
1,2004,1434 SOUTH COUNTY TR,452.451820,0.0,071-010-021-0000,00,V C/I,5035.73,5035.73,293800
2,2004,125 TAMARACK DRIV,569.784726,0.0,044-011-418-0000,00,ONE FAMI,6341.63,6341.63,369990
3,2004,145 SHIPPEE ROAD,487.240187,0.0,013-019-006-0000,00,FFOP,5422.92,5422.92,316390
4,2004,1635 DIVISION ROA,301.932544,0.0,080-012-002-0000,00,ONE FAMI,3360.47,3360.47,196060

#  Read EG FY2003 Real Estate Tax Roll - assessed 12/31/2001

In [398]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2001.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2003'
fd_rate = 2.46
taxrate = 27.58

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(taxbill)/taxrate)
            tax = ''

taxroll_FY2003 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2003.shape)

print(len(taxroll_FY2003['parcel'].unique()))

taxroll_FY2003.head()

(4748, 10)
4748

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2003,1454 SOUTH COUNTY,320.046178,40000.0,071-010-010-0000,00,COMBINAT,3588.16,3588.16,170100
1,2003,125 TAMARACK DRIV,510.942357,0.0,044-011-418-0000,00,ONE FAMI,5728.37,5728.37,207700
2,2003,145 SHIPPEE ROAD,404.670000,0.0,013-019-006-0000,00,FFOP,4536.91,4536.91,164500
3,2003,1635 DIVISION ROA,293.723822,0.0,080-012-002-0000,00,ONE FAMI,3293.05,3293.05,119400
4,2003,1672 SOUTH COUNTY TR,325.950000,-3000.0,061-010-027-0000,00,V C/I,3654.35,3654.35,135500

In [399]:
taxroll_FY2003.groupby(taxroll_FY2003['FYear']).sum()  #should be 25,979,701.21

             est_fd    exemption          tax     taxbill  valuation
FYear
2003   2.316749e+06  16260110.91  25826491.52  25973956.3  946234340

In [409]:
FY2003 = taxroll_FY2003.rename(columns={'address': 'adress_2003', 'exemption': 'exemption_2003', \
            'sc': 'sc_2003', 'scd': 'scd_2003', 'taxbill': 'taxbill_2003', 'valuation': 'valuation_2003', \
            'FYear': 'FY2003','tax': 'tax_2003','est_fd': 'est_fd_2003'})
print(FY2003.shape)
FY2003.head()

(4748, 10)

,FY2003,adress_2003,est_fd_2003,exemption_2003,parcel,sc_2003,scd_2003,tax_2003,taxbill_2003,valuation_2003
0,2003,1454 SOUTH COUNTY,320.046178,40000.0,071-010-010-0000,00,COMBINAT,3588.16,3588.16,170100
1,2003,125 TAMARACK DRIV,510.942357,0.0,044-011-418-0000,00,ONE FAMI,5728.37,5728.37,207700
2,2003,145 SHIPPEE ROAD,404.670000,0.0,013-019-006-0000,00,FFOP,4536.91,4536.91,164500
3,2003,1635 DIVISION ROA,293.723822,0.0,080-012-002-0000,00,ONE FAMI,3293.05,3293.05,119400
4,2003,1672 SOUTH COUNTY TR,325.950000,-3000.0,061-010-027-0000,00,V C/I,3654.35,3654.35,135500

#  Read EG FY2002 Real Estate Tax Roll - assessed 12/31/2000

In [400]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_2000.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2002'
fd_rate = 2.33
taxrate = 27.59

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(taxbill)/taxrate)
            tax = ''

taxroll_FY2002 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2002.shape)

print(len(taxroll_FY2002['parcel'].unique()))

taxroll_FY2002.head()

(4695, 10)
4695

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2002,1454 SOUTH COUNTY,303.133084,40000.0,071-010-010-0000,00,COMBINAT,3589.46,3589.46,170100
1,2002,125 TAMARACK DRIV,483.940747,0.0,044-011-418-0000,00,ONE FAMI,5730.44,5730.44,207700
2,2002,145 SHIPPEE ROAD,339.015422,19000.0,013-019-006-0000,00,FFOP,4014.35,4014.35,164500
3,2002,1635 DIVISION ROA,278.202338,0.0,080-012-002-0000,00,ONE FAMI,3294.25,3294.25,119400
4,2002,1672 SOUTH COUNTY TR,311.986916,-3000.0,061-010-027-0000,00,V C/I,3694.30,3694.30,136900

In [401]:
taxroll_FY2002.groupby(taxroll_FY2002['FYear']).sum()  #should be 25,292,770.51

             est_fd    exemption          tax      taxbill  valuation
FYear
2002   2.135512e+06  16314782.32  25139309.41  25287023.51  920451670

In [410]:
FY2002 = taxroll_FY2002.rename(columns={'address': 'adress_2002', 'exemption': 'exemption_2002', \
            'sc': 'sc_2002', 'scd': 'scd_2002', 'taxbill': 'taxbill_2002', 'valuation': 'valuation_2002', \
            'FYear': 'FY2002','tax': 'tax_2002','est_fd': 'est_fd_2002'})
print(FY2002.shape)
FY2002.head()

(4695, 10)

,FY2002,adress_2002,est_fd_2002,exemption_2002,parcel,sc_2002,scd_2002,tax_2002,taxbill_2002,valuation_2002
0,2002,1454 SOUTH COUNTY,303.133084,40000.0,071-010-010-0000,00,COMBINAT,3589.46,3589.46,170100
1,2002,125 TAMARACK DRIV,483.940747,0.0,044-011-418-0000,00,ONE FAMI,5730.44,5730.44,207700
2,2002,145 SHIPPEE ROAD,339.015422,19000.0,013-019-006-0000,00,FFOP,4014.35,4014.35,164500
3,2002,1635 DIVISION ROA,278.202338,0.0,080-012-002-0000,00,ONE FAMI,3294.25,3294.25,119400
4,2002,1672 SOUTH COUNTY TR,311.986916,-3000.0,061-010-027-0000,00,V C/I,3694.30,3694.30,136900

#  Read EG FY2001 Real Estate Tax Roll - assessed 12/31/1999

In [402]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_1999.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2001'
fd_rate = 2.37
taxrate = 26.79


for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(taxbill)/taxrate)
            tax = ''

taxroll_FY2001 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2001.shape)

print(len(taxroll_FY2001['parcel'].unique()))

taxroll_FY2001.head()

(4622, 10)
4622

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2001,1454 SOUTH COUNTY,308.337088,40000.0,071-010-010-0000,00,COMBINAT,3485.38,3485.38,170100
1,2001,125 TAMARACK DRIV,497.225823,0.0,044-011-418-0000,00,ONE FAMI,5620.54,5620.54,209800
2,2001,145 SHIPPEE ROAD,366.638735,11000.0,013-019-006-0000,00,FFOP,4144.41,4144.41,165700
3,2001,1635 DIVISION ROA,282.978354,0.0,080-012-002-0000,00,ONE FAMI,3198.73,3198.73,119400
4,2001,1672 SOUTH COUNTY TR,317.342912,-3000.0,061-010-027-0000,00,V C/I,3587.18,3587.18,136900

In [403]:
taxroll_FY2001.groupby(taxroll_FY2001['FYear']).sum()  #should be 24,037,334.75

             est_fd   exemption          tax      taxbill  valuation
FYear
2001   2.125989e+06  16894726.9  23897110.53  24031754.39  901444050

In [411]:
FY2001 = taxroll_FY2001.rename(columns={'address': 'adress_2001', 'exemption': 'exemption_2001', \
            'sc': 'sc_2001', 'scd': 'scd_2001', 'taxbill': 'taxbill_2001', 'valuation': 'valuation_2001', \
            'FYear': 'FY2001','tax': 'tax_2001','est_fd': 'est_fd_2001'})
print(FY2001.shape)
FY2001.head()

(4622, 10)

,FY2001,adress_2001,est_fd_2001,exemption_2001,parcel,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2001,1454 SOUTH COUNTY,308.337088,40000.0,071-010-010-0000,00,COMBINAT,3485.38,3485.38,170100
1,2001,125 TAMARACK DRIV,497.225823,0.0,044-011-418-0000,00,ONE FAMI,5620.54,5620.54,209800
2,2001,145 SHIPPEE ROAD,366.638735,11000.0,013-019-006-0000,00,FFOP,4144.41,4144.41,165700
3,2001,1635 DIVISION ROA,282.978354,0.0,080-012-002-0000,00,ONE FAMI,3198.73,3198.73,119400
4,2001,1672 SOUTH COUNTY TR,317.342912,-3000.0,061-010-027-0000,00,V C/I,3587.18,3587.18,136900

#  Read EG FY2000 Real Estate Tax Roll - assessed 12/31/1998

In [404]:
dd = {}
dd['FYear']     = []  
dd['parcel']    = []
dd['address']   = []
dd['sc']        = []
dd['scd']       = []
dd['valuation'] = []
dd['exemption'] = []
dd['tax']       = []
dd['taxbill']   = []
dd['est_fd']    = []

with open("../EG_RE_Tax_Roll_assessed_12_31_1998.txt", "rt") as in_file:
    text = in_file.readlines()

nprint = len(text)
    
fyear = '2000'
fd_rate = 2.39
taxrate = 24.84

for line in text[0:nprint]:
    if (line.find(' RE ')>0):
        words = line.split()
        for word in words:
            if ((word.count('-')>=3) & (len(word) > 13)):
                parcel = word
                address=line[line.index(word)+17:98]
                REix = line.index(' RE ')
                sc = line[(REix+4):(REix+6)]
                scd    = line[(REix+6):line.index(word)]
                valuation = line[99:109].replace(',', '').strip()
                exemption = line[110:120].replace(',', '').strip()
                if (exemption==''):
                    exemption='0.0'
                tax = line[121:133].replace(',', '').strip()
    if (line.find('    TOTALS     ') > 0):
        if (len(tax) > 0):                                #skip blank tax
            taxbill = line[121:133].replace(',', '').strip()
            dd['FYear'].append(fyear)
            dd['taxbill'].append(pd.to_numeric(taxbill))
            dd['parcel'].append(parcel)     
            dd['sc'].append(sc)
            dd['scd'].append(scd)
            dd['address'].append(address)
            dd['valuation'].append(pd.to_numeric(valuation))
            dd['exemption'].append(pd.to_numeric(exemption))
            dd['tax'].append(pd.to_numeric(tax))
            dd['est_fd'].append(fd_rate*pd.to_numeric(taxbill)/taxrate)
            tax = ''

taxroll_FY2000 = pd.DataFrame.from_dict(dd)

print(taxroll_FY2000.shape)

print(len(taxroll_FY2000['parcel'].unique()))

taxroll_FY2000.head()

(4614, 10)
4614

,FYear,address,est_fd,exemption,parcel,sc,scd,tax,taxbill,valuation
0,2000,1454 SOUTH COUNTY,312.611808,40000.0,071-010-010-0000,00,COMBINAT,3249.07,3249.07,170800
1,2000,125 TAMARACK DRIV,501.421808,0.0,044-011-418-0000,00,ONE FAMI,5211.43,5211.43,209800
2,2000,145 SHIPPEE ROAD,369.733192,11000.0,013-019-006-0000,00,FFOP,3842.75,3842.75,165700
3,2000,1635 DIVISION ROA,288.233615,0.0,080-012-002-0000,00,ONE FAMI,2995.70,2995.70,120600
4,2000,1672 SOUTH COUNTY TR,320.021385,-3000.0,061-010-027-0000,00,V C/I,3326.08,3326.08,136900

In [405]:
taxroll_FY2000.groupby(taxroll_FY2000['FYear']).sum()  #should be 21,748,204.92

             est_fd   exemption          tax      taxbill  valuation
FYear
2000   2.092234e+06  17205536.9  21633170.91  21745229.09  883326200

In [412]:
FY2000 = taxroll_FY2000.rename(columns={'address': 'adress_2000', 'exemption': 'exemption_2000', \
            'sc': 'sc_2000', 'scd': 'scd_2000', 'taxbill': 'taxbill_2000', 'valuation': 'valuation_2000', \
            'FYear': 'FY2000','tax': 'tax_2000','est_fd': 'est_fd_2000'})
print(FY2000.shape)
FY2000.head()

(4614, 10)

,FY2000,adress_2000,est_fd_2000,exemption_2000,parcel,sc_2000,scd_2000,tax_2000,taxbill_2000,valuation_2000
0,2000,1454 SOUTH COUNTY,312.611808,40000.0,071-010-010-0000,00,COMBINAT,3249.07,3249.07,170800
1,2000,125 TAMARACK DRIV,501.421808,0.0,044-011-418-0000,00,ONE FAMI,5211.43,5211.43,209800
2,2000,145 SHIPPEE ROAD,369.733192,11000.0,013-019-006-0000,00,FFOP,3842.75,3842.75,165700
3,2000,1635 DIVISION ROA,288.233615,0.0,080-012-002-0000,00,ONE FAMI,2995.70,2995.70,120600
4,2000,1672 SOUTH COUNTY TR,320.021385,-3000.0,061-010-027-0000,00,V C/I,3326.08,3326.08,136900

In [365]:
merg1 = FY2000.merge(FY2001,how='outer',on='parcel')
print(merg1.shape)
merg1.head()

(4627, 17)

,FY2000,adress_2000,exemption_2000,parcel,sc_2000,scd_2000,tax_2000,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2000,1454 SOUTH COUNTY,40000.0,071-010-010-0000,00,COMBINAT,3249.07,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
1,2000,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,5211.43,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2000,145 SHIPPEE ROAD,11000.0,013-019-006-0000,00,FFOP,3842.75,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2000,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,2995.70,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0
4,2000,1672 SOUTH COUNTY TR,-3000.0,061-010-027-0000,00,V C/I,3326.08,3326.08,136900.0,2001,1672 SOUTH COUNTY TR,-3000.0,00,V C/I,3587.18,3587.18,136900.0

In [366]:
merg2 = FY2002.merge(merg1,how='outer',on='parcel')
print(merg2.shape)
merg2.head()

(4707, 25)

,FY2002,adress_2002,exemption_2002,parcel,sc_2002,scd_2002,tax_2002,taxbill_2002,valuation_2002,FY2000,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2002,1454 SOUTH COUNTY,40000.0,071-010-010-0000,00,COMBINAT,3589.46,3589.46,170100.0,2000,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
1,2002,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,5730.44,5730.44,207700.0,2000,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2002,145 SHIPPEE ROAD,19000.0,013-019-006-0000,00,FFOP,4014.35,4014.35,164500.0,2000,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2002,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,3294.25,3294.25,119400.0,2000,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0
4,2002,1672 SOUTH COUNTY TR,-3000.0,061-010-027-0000,00,V C/I,3694.30,3694.30,136900.0,2000,...,3326.08,136900.0,2001,1672 SOUTH COUNTY TR,-3000.0,00,V C/I,3587.18,3587.18,136900.0

In [367]:
merg3 = FY2003.merge(merg2,how='outer',on='parcel')
print(merg3.shape)
merg3.head()

(4764, 33)

,FY2003,adress_2003,exemption_2003,parcel,sc_2003,scd_2003,tax_2003,taxbill_2003,valuation_2003,FY2002,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2003,1454 SOUTH COUNTY,40000.0,071-010-010-0000,00,COMBINAT,3588.16,3588.16,170100.0,2002,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
1,2003,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,5728.37,5728.37,207700.0,2002,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2003,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,4536.91,4536.91,164500.0,2002,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2003,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,3293.05,3293.05,119400.0,2002,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0
4,2003,1672 SOUTH COUNTY TR,-3000.0,061-010-027-0000,00,V C/I,3654.35,3654.35,135500.0,2002,...,3326.08,136900.0,2001,1672 SOUTH COUNTY TR,-3000.0,00,V C/I,3587.18,3587.18,136900.0

In [368]:
merg4 = FY2004.merge(merg3,how='outer',on='parcel')
print(merg4.shape)
merg4.head()

(4836, 41)

,FY2004,adress_2004,exemption_2004,parcel,sc_2004,scd_2004,tax_2004,taxbill_2004,valuation_2004,FY2003,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2004,1454 SOUTH COUNTY,77250.0,071-010-010-0000,00,COMBINAT,3692.81,3692.81,292700.0,2003,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
1,2004,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,5035.73,5035.73,293800.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,6341.63,6341.63,369990.0,2003,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
3,2004,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,5422.92,5422.92,316390.0,2003,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
4,2004,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,3360.47,3360.47,196060.0,2003,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0

In [369]:
merg5 = FY2005.merge(merg4,how='outer',on='parcel')
print(merg5.shape)
merg5.head()

(4896, 49)

,FY2005,adress_2005,exemption_2005,parcel,sc_2005,scd_2005,tax_2005,taxbill_2005,valuation_2005,FY2004,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2005,1454 SOUTH COUNTY,0.0,071-010-010-0000,00,COMBINAT,5242.26,5242.26,292700.0,2004,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
1,2005,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,5261.96,5261.96,293800.0,2004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,6626.52,6626.52,369990.0,2004,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
3,2005,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,5666.54,5666.54,316390.0,2004,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
4,2005,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,3511.43,3511.43,196060.0,2004,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0

In [370]:
merg6 = FY2006.merge(merg5,how='outer',on='parcel')
print(merg6.shape)
merg6.head()

(4943, 57)

,FY2006,adress_2006,exemption_2006,parcel,sc_2006,scd_2006,tax_2006,taxbill_2006,valuation_2006,FY2005,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2006,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,5385.35,5385.35,293800.0,2005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,1454 SOUTH COUNTY,0.0,071-010-010-0000,00,COMBINAT,5365.19,5365.19,292700.0,2005,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
2,2006,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,6781.92,6781.92,369990.0,2005,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
3,2006,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,5799.43,5799.43,316390.0,2005,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
4,2006,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,3593.78,3593.78,196060.0,2005,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0

In [371]:
merg7 = FY2007.merge(merg6,how='outer',on='parcel')
print(merg7.shape)
merg7.head()

(5004, 65)

,FY2007,adress_2007,exemption_2007,parcel,sc_2007,scd_2007,tax_2007,taxbill_2007,valuation_2007,FY2006,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2007,1454 SOUTH COUNTY,0.0,071-010-010-0000,00,COMBINAT,10003.41,10003.41,777870.0,2006,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
1,2007,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,7691.57,7691.57,598100.0,2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,6823.26,6823.26,530580.0,2006,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
3,2007,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,6499.06,6499.06,505370.0,2006,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
4,2007,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,4330.86,4330.86,336770.0,2006,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0

In [372]:
merg8 = FY2008.merge(merg7,how='outer',on='parcel')
print(merg8.shape)
merg8.head()

(5020, 73)

,FY2008,adress_2008,exemption_2008,parcel,sc_2008,scd_2008,tax_2008,taxbill_2008,valuation_2008,FY2007,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2008,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,00,V C/I,8098.27,8971.50,598100.0,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,1454 SOUTH COUNTY,0.0,071-010-010-0000,00,COMBINAT,10532.36,11668.05,777870.0,2007,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
2,2008,125 TAMARACK DRIV,0.0,044-011-418-0000,00,ONE FAMI,7184.05,7958.70,530580.0,2007,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
3,2008,145 SHIPPEE ROAD,0.0,013-019-006-0000,00,FFOP,6842.71,7580.55,505370.0,2007,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
4,2008,1635 DIVISION ROA,0.0,080-012-002-0000,00,ONE FAMI,4559.87,5051.55,336770.0,2007,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0

In [ ]:
merg9 = FY2009.merge(merg8,how='outer',on='parcel')
print(merg9.shape)
merg9.head()

In [373]:
merg10 = FY2010.merge(merg8,how='outer',on='parcel')
print(merg10.shape)
merg10.head()

(5396, 81)

,FY2010,adress_2010,exemption_2010,parcel,sc_2010,scd_2010,tax_2010,taxbill_2010,valuation_2010,FY2008,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2010,TILLINGHAST ROAD,0.0,027-015-013-0000,13,VACANT R,3805.57,4198.93,228700.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,1454 SOUTH COUNTY,0.0,071-010-010-0000,04,COMBINAT,12754.56,14072.94,766500.0,2008,...,3249.07,170800.0,2001,1454 SOUTH COUNTY,40000.0,00,COMBINAT,3485.38,3485.38,170100.0
2,2010,1434 SOUTH COUNTY TR,0.0,071-010-021-0000,14,V C/I,9734.40,10740.60,585000.0,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6053.63,6679.37,363800.0,2008,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
4,2010,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,0.00,8506.19,303300.0,2008,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0

In [374]:
merg11 = FY2011.merge(merg10,how='outer',on='parcel')
print(merg11.shape)
merg11.head()

(5440, 89)

,FY2011,adress_2011,exemption_2011,parcel,sc_2011,scd_2011,tax_2011,taxbill_2011,valuation_2011,FY2010,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2011,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6275.55,6908.56,363800.0,2010,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2011,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,7883.25,8678.43,457000.0,2010,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2011,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7991.93,8798.07,463300.0,2010,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2011,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,13936.28,15342.03,807900.0,2010,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0
4,2011,1672 SOUTH COUNTY TR,0.0,061-010-027-0000,14,V C/I,0.00,94207.50,636100.0,2010,...,3326.08,136900.0,2001,1672 SOUTH COUNTY TR,-3000.0,00,V C/I,3587.18,3587.18,136900.0

In [375]:
merg12 = FY2012.merge(merg11,how='outer',on='parcel')
print(merg12.shape)
merg12.head()

(5464, 97)

,FY2012,adress_2012,exemption_2012,parcel,sc_2012,scd_2012,tax_2012,taxbill_2012,valuation_2012,FY2011,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2012,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6362.86,7010.42,363800.0,2011,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2012,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,7992.93,8806.39,457000.0,2011,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2012,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8103.12,8927.79,463300.0,2011,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2012,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,14130.17,15568.23,807900.0,2011,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0
4,2012,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,79635.47,87740.17,4553200.0,2011,...,3326.08,136900.0,2001,1672 SOUTH COUNTY TR,-3000.0,00,V C/I,3587.18,3587.18,136900.0

In [376]:
merg13 = FY2013.merge(merg12,how='outer',on='parcel')
print(merg13.shape)
merg13.head()

(5618, 105)

,FY2013,adress_2013,exemption_2013,parcel,sc_2013,scd_2013,tax_2013,taxbill_2013,valuation_2013,FY2012,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2013,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,6470.98,7145.71,321300.0,2012,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2013,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,8321.85,9189.57,413200.0,2012,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2013,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,6585.78,7272.48,327000.0,2012,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2013,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,16222.77,17914.32,805500.0,2012,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0
4,2013,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,77498.72,85579.52,3848000.0,2012,...,3326.08,136900.0,2001,1672 SOUTH COUNTY TR,-3000.0,00,V C/I,3587.18,3587.18,136900.0

In [377]:
merg14 = FY2014.merge(merg13,how='outer',on='parcel')
print(merg14.shape)
merg14.head()

(5678, 113)

,FY2014,adress_2014,exemption_2014,parcel,sc_2014,scd_2014,tax_2014,taxbill_2014,valuation_2014,FY2013,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2014,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7357.77,7357.77,321300.0,2013,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2014,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,9462.28,9462.28,413200.0,2013,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2014,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7488.30,7488.30,327000.0,2013,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2014,1635 DIVISION ROAD,0.0,080-012-002-0000,06,COMM II,18285.65,18285.65,798500.0,2013,...,2995.70,120600.0,2001,1635 DIVISION ROA,0.0,00,ONE FAMI,3198.73,3198.73,119400.0
4,2014,1672 SOUTH COUNTY,0.0,061-010-027-0000,06,COMM II,99866.90,99866.90,4361000.0,2013,...,3326.08,136900.0,2001,1672 SOUTH COUNTY TR,-3000.0,00,V C/I,3587.18,3587.18,136900.0

In [378]:
merg15 = FY2015.merge(merg14,how='outer',on='parcel')
print(merg15.shape)
merg15.head()

(5691, 121)

,FY2015,adress_2015,exemption_2015,parcel,sc_2015,scd_2015,tax_2015,taxbill_2015,valuation_2015,FY2014,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2015,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7473.44,7473.44,321300.0,2014,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2015,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,9611.03,9611.03,413200.0,2014,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2015,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,7606.02,7606.02,327000.0,2014,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
3,2015,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1581.68,1581.68,68000.0,2014,...,717.88,28900.0,2001,DIVISION ROAD,0.0,00,VACANT R,774.23,774.23,28900.0
4,2015,50 HARWOOD ROAD,0.0,084-009-039-0000,13,VACANT R,3365.72,3365.72,144700.0,2014,...,278.21,11200.0,2001,HARWOOD ROAD,0.0,00,VACANT R,300.05,300.05,11200.0

In [379]:
merg16 = FY2016.merge(merg15,how='outer',on='parcel')
print(merg16.shape)
merg16.head()

(5705, 129)

,FY2016,adress_2016,exemption_2016,parcel,sc_2016,scd_2016,tax_2016,taxbill_2016,valuation_2016,FY2015,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2016,1855 DIVISION ROAD,0.0,079-012-101-0000,01,ONE FAMI,7629.70,7629.70,322200.0,2015,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2016,125 TAMARACK DRIVE,0.0,044-011-418-0000,01,ONE FAMI,10073.47,10073.47,425400.0,2015,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2016,145 SOUTH PIERCE ROAD,0.0,054-007-187-0000,01,ONE FAMI,5579.01,5579.01,235600.0,2015,...,2372.22,98500.0,2001,145 SOUTH PIERCE,-3000.0,00,ONE FAMI,2558.45,2558.45,98500.0
3,2016,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8538.27,8538.27,360569.0,2015,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
4,2016,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1790.21,1790.21,75600.0,2015,...,717.88,28900.0,2001,DIVISION ROAD,0.0,00,VACANT R,774.23,774.23,28900.0

In [381]:
merg17 = FY2017.merge(merg16,how='outer',on='parcel')
print(merg17.shape)
merg17.head()

(5727, 137)

,FY2017,adress_2017,exemption_2017,parcel,sc_2017,scd_2017,tax_2017,taxbill_2017,valuation_2017,FY2016,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2017,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7761.80,7761.80,322200.0,2016,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2017,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,10247.89,10247.89,425400.0,2016,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
2,2017,145 SOUTH PIERCE,0.0,054-007-187-0000,01,ONE FAMI,5675.60,5675.60,235600.0,2016,...,2372.22,98500.0,2001,145 SOUTH PIERCE,-3000.0,00,ONE FAMI,2558.45,2558.45,98500.0
3,2017,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8686.11,8686.11,360569.0,2016,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0
4,2017,DIVISION ROAD,0.0,080-012-080-0000,13,VACANT R,1821.20,1821.20,75600.0,2016,...,717.88,28900.0,2001,DIVISION ROAD,0.0,00,VACANT R,774.23,774.23,28900.0

In [382]:
merg18 = FY2018.merge(merg17,how='outer',on='parcel')
print(merg18.shape)
merg18.head()

(5738, 145)

,FY2018,adress_2018,exemption_2018,parcel,sc_2018,scd_2018,tax_2018,taxbill_2018,valuation_2018,FY2017,...,taxbill_2000,valuation_2000,FY2001,adress_2001,exemption_2001,sc_2001,scd_2001,tax_2001,taxbill_2001,valuation_2001
0,2018,1855 DIVISION ROA,0.0,079-012-101-0000,01,ONE FAMI,7623.25,7623.25,322200.0,2017,...,3827.84,154100.0,2001,1855 DIVISION ROA,0.0,00,ONE FAMI,4128.34,4128.34,154100.0
1,2018,125 HOWLAND ROAD,0.0,073-010-077-0000,01,ONE FAMI,11245.60,11245.60,475300.0,2017,...,5223.85,210300.0,2001,125 HOWLAND ROAD,0.0,00,ONE FAMI,5633.94,5633.94,210300.0
2,2018,125 TAMARACK DRIV,0.0,044-011-418-0000,01,ONE FAMI,10064.96,10064.96,425400.0,2017,...,5211.43,209800.0,2001,125 TAMARACK DRIV,0.0,00,ONE FAMI,5620.54,5620.54,209800.0
3,2018,145 SOUTH PIERCE,0.0,054-007-187-0000,01,ONE FAMI,5574.30,5574.30,235600.0,2017,...,2372.22,98500.0,2001,145 SOUTH PIERCE,-3000.0,00,ONE FAMI,2558.45,2558.45,98500.0
4,2018,145 SHIPPEE ROAD,0.0,013-019-006-0000,33,FFOP,8531.06,8531.06,360569.0,2017,...,3842.75,165700.0,2001,145 SHIPPEE ROAD,11000.0,00,FFOP,4144.41,4144.41,165700.0